<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Jeżeli jesteś fanem adrenaliny i japońskich aut, to jest to właśnie miejsce dla Ciebie! Szybkie auta, ryk silników, pisk opon, zapach palonej gumy, ciasne zakręty i malownicze, górskie krajobrazy... – to właśnie touge!">
  <meta name="author" content="Mateusz Pieszczyk">
  <title>touge-night-riders</title>

  <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">

</head>

<body>

  {% include nav.html %}

{{content}}

</body>
</html>
